@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Croissant+One&family=Mooli&display=swap');

@media (max-width:575px){
    .logo{
        display: none;
    }
    
    .video{
        display: none;
    }

    .empanadas{
        display: none;    
    }

    .mapa{
        display: none;
    }

    .container-fluid{
        display: none;    
    }

    .mapa_footer{
        display: none;
    }
}

header{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    color: #FF5733;
    font-family: 'Bungee Spice', cursive;
    text-decoration: underline;
    padding: 0.3125rem;
    display: inline-block;
    flex-grow: 1;
    font-size: 3rem;
}

.icono {
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

body{
    background-image: url(../imagenes/fondo3.png);
    background-size: 100%;
    font-weight: bold;
    max-width: 100%;
    flex-wrap: wrap;
}

.nav_body {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem;
}

.boton_giratorio {
    background: #fff; 
    color: #FF5733; 
    font-family: 'Mooli', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    border: 0.1875rem solid #FF5733;
    border-radius: 0.5rem; 
    padding: 0.25rem 0.5rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

  .boton_giratorio:hover {
    color: black
  }

  .boton_giratorio::after {
    content: "";
    background: #F4D03F;
    position: absolute;
    z-index: -1;
    padding: 0.625rem 0.875rem;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0) rotate(-180deg);
    transition: all 0.3s ease;
  }

  .boton_giratorio:hover::after {
    transition: all 0.3s ease-out;
    transform: scale(1, 1) rotate(0deg);
  }

p {
    font-family: 'Mooli', sans-serif;
    font-size: medium;
    text-align: justify;
}

.subtitulo {
    color: #FF5733;
    font-family: 'Croissant One', cursive;
    text-decoration: underline;
}

.empanadas {
    width: 50%;
}

li {
    font-family: monospace;
    font-size: large;
}

.contenedor-video {
    text-align: center;
    margin-top: 20px;
}

.contenedor-video iframe {
    display: block;
    margin: 0 auto;
    width: 30vw; 
    height: 40vh;
}

.container {
    display: flex;
    align-items: center;
}

.mapa {
    width: 50vw; 
    height: 60vh;
}

.texto {
    flex: 1; 
    padding: 1.25rem; 
}

footer {
    background-color: #FF5733;
    padding: 0.3125rem;
    display: flex;
    justify-content: space-between;
}

.mapa_footer{
    width: 10vw;
    height: 16vh;
}

.redes_sociales{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono_footer{  
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.datos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.datos-desarrollador {
    font-family: 'Mooli', sans-serif;
    font-weight: bold;
    color: #FF5733;
    background: white;
    border: 5px solid #F4D03F;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.datos-desarrollador:hover{
    background-color: #F4D03F;
}

.whatsapp {
    position: fixed;
    bottom: 0;
    right: 0;
}

.container{
    width: 80%;
    margin: 20px auto;
}
 
.card{
   margin-top: 0;
   border: 1px solid #CC0000;
   background-color: #FFFFCC;
   margin-bottom: 10px;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
}
 
.card img {
    width: auto;
    height: 165px;
    object-fit: contain;
}

.card-body{
   padding: 20px 15px;
   display: flex;
   flex-grow: 1;
   flex-direction: column;
}
 
.card-img-top{
     width: 100%;
     border-radius: 8px 8px 0 0;
}
 
.card-title{
   text-align: center;
   font-size: large;
   font-weight: bold;
}
 
.card-text{
   display: flex;
   font-size: small;
   flex-grow: 1;
}
 
.card-boton{
     background-color: red;
     border-color: #CC0000;
     color: white;
     display: block;
     padding: 5px;
     font-size: 25px;
     text-align: center;
     text-decoration: none;
     border-radius: 8px;
}
 
.card-boton:hover{
       background-color:#82E0AA;
       border-color: #CC0000;
}
 
.elemento1{
   font-size:60%;
   font-weight: bold;
   color: black;
}

.modo-dia {
    color: black;
}

.modo-nocturno {
    background-color: #333;
    color: white;
}

.luna {
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
}
